<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

<div class="jumbotron">
    <h1 align="center" class ="text-info">Consumer Complaints</h1> 
    <p align="center">Get the list of complaints of a comsumer with just one search...</p>
</div>
<div class="container">
      <% @detail.each do |item|%>
      <% if item.complaint_id == @company_complaint_id %>
      <h2 align="center">Details of Complaint ID: <%= item.complaint_id %> </h2>
    <table class="table table-bordered table-inverse">
    <tbody>
      <tr>
        <th data-field="key" class="key">Complaint ID</th>
        <td data-field="value"><%= item.complaint_id %></td>
      </tr>
      <tr>
        <th data-field="key" class="key">Company</th>
        <% if item.company != nil %>
          <td data-field="value"><%= item.company %></td>
        <% else %>
          <td data-field="value">None</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Date received</th>
        <% if item.date_received != nil %>
        <td data-field="value"><%= (Time.parse(item.date_received).to_date).strftime("%B %d, %Y") %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Product</th>
        <% if item.product != nil %>
          <td data-field="value"><%= item.product %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Sub-product</th>
        <% if item.sub_product != nil %>
          <td data-field="value"><%= item.sub_product %></td>
        <% else %>
          <td data-field="value">None</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Issue</th>
        <% if item.issue != nil %>
          <td data-field="value"><%= item.issue %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Sub Issue</th>
        <% if item.sub_issue != nil %>
          <td data-field="value"><%= item.sub_issue %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Consumer complaint narrative</th>
        <% if item.complaint_what_happened != nil %>
          <td data-field="value"><%= item.complaint_what_happened %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Company public response</th>
        <% if item.company_public_response != nil %>
          <td data-field="value"><%= item.company_public_response %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Company response to consumer</th>
        <% if item.company_response != nil %>
          <td data-field="value"><%= item.company_response %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Consumer consent provided</th>
        <% if item.consumer_consent_provided != nil %>
          <td data-field="value"><%= item.consumer_consent_provided %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Timely response</th>
        <% if item.timely != nil %>
          <td data-field="value"><%= item.timely %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Consumer disputed</th>
        <% if item.consumer_disputed != nil %>
          <td data-field="value"><%= item.consumer_disputed %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Tags</th>
        <% if item.tags != nil %>
          <td data-field="value"><%= item.tags %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">State</th>
        <% if item.state != nil %>
          <td data-field="value"><%= item.state %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Zip code</th>
        <% if item.zip_code != nil %>
          <td data-field="value"><%= item.zip_code %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Date sent to company</th>
        <% if item.date_sent_to_company != nil %>
          <td data-field="value"><%= (Time.parse(item.date_sent_to_company).to_date).strftime("%B %d, %Y") %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <tr>
        <th data-field="key" class="key">Submitted via</th>
        <% if item.submitted_via != nil %>
          <td data-field="value"><%= item.submitted_via %></td>
        <% else %>
          <td data-field="value">No data</td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
  </table>
  <% end %> 
</div>
</body>
</html>